<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

    <suite name="Regression" verbose="5">

        <parameter name="OS" value="Windows"/>
        <parameter name="browser" value="Chrome"/>

    <test name="Window">
        <classes>
            <class name="runner.RunTest"></class>
        </classes>
    </test>


</suite>